# ====== PRODUÇÃO (Vercel + Railway) ======
# Backend no Railway
NEXT_PUBLIC_API_URL=https://zealous-trust-nodeenv.up.railway.app/api/v1
NEXT_PUBLIC_WS_URL=wss://zealous-trust-nodeenv.up.railway.app

# ====== LOCAL DEV ======
# NEXT_PUBLIC_API_URL=http://localhost:3000/api/v1
# NEXT_PUBLIC_WS_URL=ws://localhost:3000
